* {
  background: url('./background.jpg') no-repeat center center fixed;
  font-family: Courier, serif, Times;
}

.shit h1 {
  text-align: left;
  font-size: 175px;
  padding-top: 35px;
  font-family: ;
}

.shit {
  text-align: center;
  display: block;
  padding-left: 170px;
}

.shit img {
  padding-right: 10px;
}
